.Users {
    
    background-color: beige;
    
}
.foto {
    height: 70px;
    width: 70px;
}
.Users_columns{
    display: flex;
}
.Users_foto{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.Users_column{
    display: flex;
}
.Users_column-left{
    margin-left: 10px;
    margin-right: 20px;
}
.pagination{
    display: flex;
}
.pageHover:hover{
    color:blue;
    background-color: aqua;
    cursor: pointer;
}
.preloader {
    width: 50px;
height: 50;
}
.pageRomb {
    margin-left: 15px;
    padding: auto;
    width: 37px;
    height: 32px;
    border:1px solid black ;
    border-radius: 20px ;
    text-align: center;
}